* {
    margin: 0%;
    padding: 0px;
}

.main {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form {
    border: 1px solid black;
    padding: 50px 60px;
    border-radius: 20px;
}

.main .form input[type="number"] {
    margin: 25px 0px;
    width: 95%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1rem;
}

.main .form input[type="submit"] {
    float: right;
    color: #fff;
    background-color: rgb(25, 118, 210);
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.main .form input[type="submit"]:disabled {
    background-color: rgb(140, 140, 140);
    cursor: not-allowed;
}

.main .form p {
    text-align: center;
    margin-top: 5rem;
    color: rgb(53, 53, 53);
}

.parkingspace {
    padding: 0px 30px 30px 30px;
}

.parkingspace h1 {
    text-align: center;
    padding: 20px 0px;
    font-size: 2.5rem;
    font-weight: 600;
}

.parkingspace h3 {
    margin: 40px 0px;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards div {
    width: 31%;
}

.cards div div {
    transition: all 0.3s ease-in;
    width: 90%;
    border-radius: 5px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #ccc;
    color: #fff;
    margin: 10px;
}

.cards div div:hover {
    transform: scale(1.04);
}

.card {
    background-color: #99c51d;
    cursor: not-allowed;
}

.cardul {
    background-color: #ff0000;
    cursor: pointer;
}

.tophead {
    padding: 10px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    margin-bottom: 30px !important;
}

.loderbox {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 27%);
}

.loder {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
}

.dash {
    margin-right: 15px !important;
}
